/api/vendor
/api/node_modules
/api/bower_components
/api/resources/bower_components
/api/Homestead.yaml
/api/Homestead.json
/api/.env
/ionic/node_modules/
/ionic/platforms/
/ionic/plugins/
/ionic/node_modules
/ionic/www/lib
/ionic/hooks
/ionic/resources